<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descrição do Usuário</title>
</head>
<body>
<div class="container">
    <h1 th:text="'Descrição do Usuario: ' + ${usuario.nome}"></h1>
    <p><strong>Nome:</strong> <span th:text="${usuario.nome}"></span></p>
    <p><strong>Descrição:</strong> <span th:text="${usuario.descricao}"></span></p>
    <a href="/listar" class="button">Voltar para Lista</a>
</div>
</body>
</html>
