<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Usuários</title>
  <link rel="stylesheet" href="/css/styleUsuario.css">
  <link rel="icon" href="data:,">
</head>
<body>
<div class="container">
  <header>
    <h1>Lista de Usuários</h1>
    <a th:href="@{/usuariosview/adicionar}" class="btn btn-primary">Adicionar Usuário</a>
  </header>

  <main>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Tipo de Usuário</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nome}"></td>
        <td th:text="${usuario.email}"></td>
        <td th:text="${usuario.tipoUsuario}"></td>
        <td>
          <a th:href="@{/usuariosview/editar/{id}(id=${usuario.id})}" class="btn btn-edit">Editar</a>
          <a th:href="@{/usuariosview/excluir/{id}(id=${usuario.id})}" class="btn btn-delete" onclick="return confirm('Tem certeza que deseja excluir este usuário?')">Excluir</a>
        </td>
      </tr>
      </tbody>
    </table>
  </main>
</div>
</body>
</html>